<h1>Product List</h1>
  <ul class="product-list">
    {{#each products}}
      <li>{{this.name}} - {{this.price}}</li>
    {{/each}}
  </ul>

    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/home.js" defer></script> 





